body {
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  background-color: #f4f4f4;
}

html {
  width: 100%;
  height: 100%;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
}

p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.6em;
}

a {
  color: #26a5d3;
}

a.whaletalk {
  padding: 20px 30px;
  font-size: 36px;
  font-weight: 600;
}

a:hover, a:focus {
  text-decoration: none;
}

.big-lead {
  font-size: 26px;
}

.navbar {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #333333;
}

.navbar-brand {
  font-weight: 700;
}

.navbar-brand:focus {
  outline: none;
}

.navbar-custom a {
  color: #f4f4f4;
}

.navbar-custom .nav li a {
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
  outline: none;
  background-color: rgba(255,255,255,0.2);
}

.navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: #f4f4f4;
}

.icon-bar {
  background-color: #fff;
}

@media(min-width: 767px) {
  .navbar {
    padding: 20px 0;
    border-bottom: none;
    background: transparent;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out padding .5s ease-in-out;
    transition: background .5s ease-in-out padding .5s ease-in-out;
  }

  .top-nav-collapse {
    padding: 0;
    background-color: #333333;
  }

  .top-nav-collapse a {
    color: #f4f4f4;
    transition: 0.5s;
  }

  .navbar-custom.top-nav-collapse {
    border-bottom: 1px solid rgba(255,255,255,0.3);
  }
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  text-align: center;
  color: #f4f4f4;
  background-image: url(../img/banner-black.png);
  background-repeat: no-repeat;
  background-position: calc(50% - 10px) 50%;
  background-color: #000000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media(max-width: 837px) {
  .intro {
    -webkit-background-size: 170vw auto;
    -moz-background-size: 170vw auto;
    -o-background-size: 170vw auto;
    background-size: 170vw auto;
  }
}

#countdown {
  display:flex;
  justify-content: space-around;
  padding: 20px 10px;
  margin-bottom: 20px;
  max-width: 460px;
  background-color: rgba(0,0,0,1);
  border-radius: 12px;
}

#countdown .remaining {
  padding: 5px;
  font-size: 24px;
  color: #333;
  background-color: #f4f4f4;
  margin: 0 10px;
  border-radius: 8px;
}
.remaining .time {
  background-color: #333;
  color: #f4f4f4;
  border-radius: 3px;
}

@media(max-width: 766px) {
  #countdown {
    padding: 16px 8px;
  }
  #countdown .remaining {
    font-size: 2.5vh;
    margin: 0 8px;
  }
}

.brand-heading {
  font-size: 40px;
}
@media(min-width: 767px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .brand-heading {
    font-size: 100px;
  }
}

.content-section {
  padding: 70px 0 40px 0;
}


.block-icon-left {
  overflow: auto;
}

.block-icon-left h3 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 20px;
}

.block {
  display: flex;
}

.icon-content {
  padding-left: 15px;
}

.block-icon-left.icon {
  margin-top: 10px;
}

.about {
  width: 100%;
  padding: 50px 0;
  color: #f4f4f4;
  background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
  background-color: #333333;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about .container .lead {
  text-align: left;
}

@media(min-width: 767px) {
  .about {
    padding: 100px 0;
  }
}

#positions {
  padding-top: 20px;
}

#positions img {
  width: 30vw;
}

.jobs-list {
  list-style: none;
  padding: 0;
  padding-left: 70px;
  margin: 0;
}

.jobs-list .job-title {
  padding-left: 10px;
  padding-bottom: 5px;
}

#positions .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#positions a {
  margin-top: 25px;
}

#contact {
  background: #333333;
  color: #f4f4f4;
  padding-bottom: 80px;
}

footer {
  margin-top: 10px;
  padding-top: 30px;
  height: 80px;
  text-align: center;
}

.page-scroll {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -webkit-transform;
  -moz-transition-duration: 1s;
}
